a {
    //@include font-weight-color(700);
    color: map-deep-get($colors, "foreground", "base");

    text-decoration: none !important;

    transition: color 0.2s linear 0.1s;

    &:hover {
      color: map-deep-get($colors, "foreground", "base");

      opacity: 0.80;
      transition: color 0.2s linear 0.1s;
    }

    &:active {
      color: map-deep-get($colors, "foreground", "base");

      opacity: 0.80;
      transition: color 0.2s linear 0.1s;
    }

    &:focus {
      color: map-deep-get($colors, "foreground", "base");

      opacity: 0.80;
      outline: 0;
      text-decoration: none !important;
      transition: color 0.2s linear 0.1s;
    }
}
